@model EmployeeList
@{
    ViewData["Title"] = "Home Page";
}


<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<!--Data Table-->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="~/js/employeelist.js"></script>

<div>
    <h3>Employee's Data</h3>
    <table class="table table-bordered">
        <tr>
            <button type="button" class="btn btn-info m-2">Save</button>
            <button type="button" class="btn btn-info m-2">Delete</button>
            <button type="button" class="btn btn-info m-2">Add Employee</button>
        </tr>
        <tr>
            @*<td>@Model.EmployeeId</td>
            <td>@Model.EmployeeName</td>
            <td>@Model.DepartmentId</td>
            <td>@Model.DepartmentName</td>
            <td>@Model.SalaryInformationId</td>
            <td>@Model.AmountPerYear</td>
            <td>@Model.IsDeleted </td>*@
       

        </tr>

    </table>

    <table id="dataTable" class="table table-bordered">
        <thead>
            <tr>
                <th></th>
                <th>employeeName</th>
                <th>EmployeeDepartment</th>
               <th id="amountField">AmountPerYear</th>


            </tr>
        </thead>
        <tbody>
            <!-- Data rows will be dynamically added by DataTables -->
        </tbody>

    </table>
</div>







